/* Global app styling using Sass */
.App {
  text-align: center;
}

.table-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.user-table {
  border-collapse: collapse;
  min-width: 600px;

  th {
    cursor: pointer;
  }

  td, th {
    padding: 0.5rem 1rem;
    border: 1px solid #ccc;
  }
}
